* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    background-image: url(images/patt.png);
}

.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,
.menu:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;
    margin-top: 5px;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 75%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.menu>li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu>li:last-child {
    border-right: 1px solid #2c71b8
}

.menu>li:nth-child(2) {
    position: relative;
}


.bird {
    position: absolute;
    top: 0px;
    left: 115px;
    color: #2c71b8;
    transform: rotate(180deg);
    font-size: 28px;
    font-weight: 500;
}

.menu a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;

}

.menu>li:hover a {
    background-color: #2c71b8;
    color: white;
}

.menu>li:hover .submenu {
    display: block;
}

.menu>li:hover .bird {
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    width: 286px;
    left: -1px;
    top: 55px;
    margin-top: -5px;

}

.submenu li {
    background-color: #2c71b8;

}

.submenu a {
    color: white;
    text-align: left;
    padding-left: 30px;
}

.submenu li:hover a {
    background-color: white;
    color: #2c71b8;
}


.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    position: relative;
}

.search input {

    display: block;
    border: none;
    padding: 0 0 3px 20px;
    background-color: inherit;
    font: 300 21px Roboto;
    height: 100%;
    width: 160px;
}

.search input::placeholder {
    color: #2c71b8;
}

.search-button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border: none;
}

.cart-img1,
.cart-img2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.cart-img2 {
    display: none;
}

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: -5px 0 0 5px;


}

.cart a {
    display: block;
}

.cart:hover {
    background-color: #2c71b8;

}

.cart:hover .cart-img2 {
    display: block;
    transform: scale(1.15);
}

.product-count {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}


.slider {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.20);
}