* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    background-image: url(images/patt.png);
}

.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.logo {
    margin-top: 2px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:after,
.menu:after {
    content: "";
    display: block;
    clear: both;
}

.col-md-3 {
    width: 25%;

}

.col-md-4 {
    width: 33.333%;
}

.m5px {
    margin-top: 5px;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {
    width: 66.666%;
}

.col-md-9 {
    width: 75%;
}

.col-md-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.menu>li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu>li:last-child {
    border-right: 1px solid #2c71b8
}

.menu>li:nth-child(2) {
    position: relative;
}


.bird {
    position: absolute;
    top: 0px;
    left: 115px;
    color: #2c71b8;
    transform: rotate(180deg);
    font-size: 28px;
    font-weight: 500;
}

.menu a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2c71b8;

}

.menu>li:hover a {
    background-color: #2c71b8;
    color: white;
}

.menu>li:hover .submenu {
    display: block;
}

.menu>li:hover .bird {
    color: white;
}

.submenu {
    display: none;
    position: absolute;
    width: 286px;
    left: -1px;
    top: 55px;
    margin-top: -5px;

}

.submenu li {
    background-color: #2c71b8;

}

.submenu a {
    color: white;
    text-align: left;
    padding-left: 30px;
}

.submenu li:hover a {
    background-color: white;
    color: #2c71b8;
}


.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    position: relative;
}

.search input {

    display: block;
    border: none;
    padding: 0 0 3px 20px;
    background-color: inherit;
    font: 300 21px Roboto;
    height: 100%;
    width: 160px;
}

.search input::placeholder {
    color: #2c71b8;
}

.search-button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    background-image: url(images/icon\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

/*.cart-img1,
.cart-img2 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.cart-img2 {
    display: none;
}*/

.cart {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: -5px 0 0 5px;
    background-image: url(images/icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;

}

.cart a {
    display: block;
}

.cart:hover {
    background-color: #2c71b8;
    background-image: url(images/icon\ \(2\).png);
}

/*.cart:hover .cart-img2 {
    display: block;
    transform: scale(1.15);
}*/

.product-count {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
}


.slider {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.20);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.parameters {
    height: 843px;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid white;
}





/*.pos {
    position: relative;
}

.breadcrumbs {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 550px;
}*/
.breadcrumbs {
    margin-top: 28px;
}

.breadcrumbs>p,
.breadcrumbs a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a:last-child {
    text-decoration: underline;
}

.h1 {
    margin: 22px 0 52px 0;
}

.h1 h1 {
    font-size: 48px;
    color: white;
    font-weight: 700;
}

.h46 {
    height: 46px;
    margin-top: 22px;
}

.sort {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    background-color: #2c71b8;
    border: 1px solid white;
    font: inherit;
    color: white;
}

.sort:focus {
    outline: none;
}

.sort option {
    font: inherit;
    height: 40px;
}

.sort>option:hover {
    background-color: white;
    color: #2c71b8;
}

.product-image {
    position: relative;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
}

.product-image>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.product-image:hover img {
    transform: scale(1.5);
    transition: 1s;
    overflow: hidden;
}

.rot-left,
.rot-right {
    position: absolute;
    width: 325px;
    height: 100px;
    border-top: 1px solid white;
    top: 0px;
    transform-origin: 0px 0px;
    transform: rotate(33.7deg);
}

.rot-left {
    left: 0px;
}

.rot-right {
    right: 0px;
    transform-origin: 100% 0px;
    transform: rotate(-33.7deg);
}
.zoom, .like{
    width: 28px;
    height: 28px;
    border: 1px solid #2c71b8;
    
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    
    right: 10px;
}
.zoom{
top: 10px;
background-image: url(images/icon\ \(8\).png);
}
.like{
top: 48px;
background-image: url(images/icon\ \(5\).png);
}
.zoom:hover {
    background-color: #2c71b8;
    background-image: url(images/icon\ \(6\).png);
}
.like:hover {
    background-color: #2c71b8;
    background-image: url(images/icon\ \(7\).png);
}

.product-body {
    height: 473px;
    background-color: rgba(44, 113, 184, 0.75);
    border: 1px solid white;
    padding: 15px;
    color: white;
        line-height: 28px;
}
.product-title>h3{
    font-size: 30px;
    font-weight: 700;
}
.product-description{
    margin-top: 10px;
}
.product-features>p{
    margin: 8px 0;
}
.product-features span{
    text-transform: uppercase;
    font-weight: 700;
}
/*.product-price{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}